{% load i18n %}
{% load course %}
{% load exercise %}

{% if categories|length > 1 %}
<div class="well">
    <p>{% translate "TOTAL_POINTS" %}</p>
    <p><strong class="h2">
    	{{ total.points }}
    	<small>/ {{ total.max_points }}</small>
    </strong></p>
    {% points_progress total %}
</div>
{% endif %}
<div class="well total-score">
	<h4>{% translate "EARNED_POINTS" %}</h4>
	<ul class="list-unstyled">
		{% for difficulty, point_count in total.points_by_difficulty %}
		<li>{{ difficulty }}: <strong >{{ point_count }}</strong></li>
		{% endfor %}
	</ul>
	<p>{% translate "GRADE" %}: <strong class="grade-unconfirmed">3</strong></p>
	{% comment %}
	<p><small>
	<a href="https://plus.cs.aalto.fi/o1/2019/w01/ch01/#tehtavapisteet-ja-arvosana">Arvosteluperusteet</a>
	</small></p>
	{% endcomment %}
</div>

{% for entry in categories %}
{% if entry|is_visible and entry.max_points > 0 %}
<div class="well">
    <p>{{ entry.name|parse_localization }}</p>
    <p><strong class="h2">
    	{{ entry.formatted_points }}
    	<small>/ {{ entry.max_points }}</small>
    </strong></p>
    {% points_progress entry %}
</div>
{% endif %}
{% endfor %}
